<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>NomalContextServlet</display-name>
    <servlet-name>NomalContextServlet</servlet-name>
    <servlet-class>com.heima.a_context.NomalContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NomalContextServlet</servlet-name>
    <url-pattern>/nomalContextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneServlet</display-name>
    <servlet-name>OneServlet</servlet-name>
    <servlet-class>com.heima.a_context.OneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneServlet</servlet-name>
    <url-pattern>/oneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwoServlet</display-name>
    <servlet-name>TwoServlet</servlet-name>
    <servlet-class>com.heima.a_context.TwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwoServlet</servlet-name>
    <url-pattern>/twoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BodyResponse</display-name>
    <servlet-name>BodyResponse</servlet-name>
    <servlet-class>com.heima.a_context.BodyResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BodyResponse</servlet-name>
    <url-pattern>/bodyResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Localtion</display-name>
    <servlet-name>Localtion</servlet-name>
    <servlet-class>com.heima.a_context.Localtion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Localtion</servlet-name>
    <url-pattern>/localtion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeLocaltion</display-name>
    <servlet-name>ChangeLocaltion</servlet-name>
    <servlet-class>com.heima.a_context.ChangeLocaltion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeLocaltion</servlet-name>
    <url-pattern>/changeLocaltion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadServlet</display-name>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.iitheima.b_download.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadCN</display-name>
    <servlet-name>DownloadCN</servlet-name>
    <servlet-class>com.iitheima.b_download.DownloadCN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadCN</servlet-name>
    <url-pattern>/downloadCN</url-pattern>
  </servlet-mapping>
</web-app>